<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h1>All Courses</h1>

<table border="1">
    <thead>
    <tr>
        <th>Course Title</th>
        <th>Seats Available</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="course : ${courses}">
        <td th:text="${course.title}"></td>
        <td th:text="${course.availableSeats}"></td>
    </tr>
    </tbody>
</table>

<br>
<a href="/">Back to Home</a>
</body>
</html>
